#wrapper{
  text-align: center;
  margin: auto;
  width: 1200px;
  background-color: #52637B;
  font-family: "Lora", sans-serif;
}

header{
    color: #FFFAF3;
}

h1{
    font-size: 65px;
    letter-spacing: 10px;
    border-bottom: 2px solid #FFFAF3;
    margin-left: 200px;
    margin-right: 200px;
}

nav{
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  text-align: left;
  border-right: 5px solid #52637B;
}

#mainContent{
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  text-align: left;
}

#rightSidebar{
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  text-align: left;
}

#image1{
  float: right;
}
